@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  @font-face {
    font-family: 'Futura Std';
    src: url('../public/fonts/FuturaStd-Light.otf') format('truetype');
  }
  @font-face {
    font-family: 'Untitled Sans';
    src: url('../public/fonts/UntitledSans-Regular.otf') format('truetype');
  }
  /*main header hero section*/
  /*48 - 32*/
  h1{
    @apply tracking-tight text-white dark:text-darkGray text-2xl md:text-5xl md:leading-[4rem];
    font-family: 'Futura Std';
  }
  /*section headers*/
  /*32 - 24*/
  h2{
    @apply tracking-tight dark:text-darkGray text-2xl md:text-4xl;
    font-family: 'Futura Std';
  }
  /*section sub headers*/
  /*20*/
  h3{
    @apply tracking-tight dark:text-darkGray text-xl;
    font-family: 'Untitled Sans';
  }  
  /*16*/
  h4{
    @apply tracking-tight dark:text-darkGray text-base;
    font-family: 'Untitled Sans';
  }
  /*10 - 14 caption uppercase*/
  h5{
    @apply tracking-[0.3em] text-primary dark:text-darkGray text-sm md:text-[10px] uppercase font-black;
    font-family: 'Untitled Sans';
  }
  /*14 -12*/
  h6{
    @apply tracking-tight text-lightGray dark:text-darkGray text-xs md:text-sm ;
    font-family: 'Untitled Sans';
  }

  a{
    
  }
  /*18*/
  p{
    @apply tracking-tight dark:text-darkGray text-lg;
    font-family: 'Untitled Sans';
  }
  section{    
  } 
  
} 

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* html { height: 100vh; }
body { height: 100%; } */

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
